# Python ignored files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/

# macOS
.DS_Store

# Temp audio/image files
*.wav
*.mp3
latest_frame.jpg

# Antigravity/IDE specific
.vscode/
.idea/
.gemini/
piper/